@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-white: var(--white);
  --color-black: var(--black);
  
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  
  --color-emerald-50: var(--emerald-50);
  --color-emerald-100: var(--emerald-100);
  --color-emerald-200: var(--emerald-200);
  --color-emerald-300: var(--emerald-300);
  --color-emerald-400: var(--emerald-400);
  --color-emerald-500: var(--emerald-500);
  --color-emerald-600: var(--emerald-600);
  --color-emerald-700: var(--emerald-700);
}

:root {
  --white: #ffffff;
  --black: #000000;
  
  --neutral-50: #FFF9F2;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;
  
  --emerald-50: #fff7ed;
  --emerald-100: #ffedd5;
  --emerald-200: #fed7aa;
  --emerald-300: #fdba74;
  --emerald-400: #fb923c;
  --emerald-500: #f97316;
  --emerald-600: #f97316;
  --emerald-700: #ea580c;
}

.dark {
  --white: #0f172a;
  --black: #ffffff;
  
  --neutral-50: #020617;
  --neutral-100: #0f172a;
  --neutral-200: #1e293b;
  --neutral-300: #334155;
  --neutral-400: #475569;
  --neutral-500: #64748b;
  --neutral-600: #94a3b8;
  --neutral-700: #cbd5e1;
  --neutral-800: #e2e8f0;
  --neutral-900: #f8fafc;
  
  --emerald-50: #431407; 
  --emerald-100: #7c2d12;
  --emerald-200: #9a3412;
  --emerald-300: #c2410c;
  --emerald-400: #ea580c;
  --emerald-500: #f97316;
  --emerald-600: #f97316;
  --emerald-700: #fb923c;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.scrollbar-hide::-webkit-scrollbar, .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide, .hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
